*{
  margin: 0px;
  padding: 0px;
}

.first{
  margin-top: 10px;
}
.BB{
  height: 40px;
  width: 25%;
}
.uper{
  margin-top: 40px;
}
.E{
  margin-left: 10px;
}
.inp{
  height: 37px;
  border-radius: 10px;
  border-color: lightblue;
  width: 100%;
}
.g{
  border: 1px solid ;
  width: 45px;
  height: 35px
  ;
  border-radius: 10px;
}
.i{
  margin-top: 15px;
}
.kuch{
  margin-top: 20px;
}

